// -------------------------------
// --- FORMS
// -------------------------------

//  FIELDSET

// fieldset {
//     min-width: 0;
//     margin: 0;
//     padding: 0;
//     border: 0;
// }

//  LABEL

// label {
//     display: inline-block;
//     max-width: 100%;
//     font-weight: normal;
// }

//  SELECT

@mixin select-reset {
    display: block;
    width: 100%;
    margin: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    appearance: none;
}

//  INPUT

@mixin input-reset {
    appearance: none;
}

input:-webkit-autofill {
    box-shadow: none;
}

.#{$prefix}-input {
    @include input-reset;
    padding: $inp-padding-y $inp-padding-x;
    color: $color__black--safe;
    border: $inp-border solid $color__gray-80;
    border-radius: $inp-border-radius;
}

//  INPUT type="radio"

input[type="radio"].#{$prefix}-checkbox {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

input[type="radio"].#{$prefix}-checkbox ~ .#{$prefix}-checkbox-toggle {
    width: 1rem;
    height: 1rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: $chk-border solid $color__gray-70;
    border-radius: $chk-border-radius;
    cursor: pointer;
}

//  INPUT type="checkbox"

// TO AVOID
// input[type="checkbox"] {
//     display: none;
// }

input[type="checkbox"].#{$prefix}-checkbox {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

input[type="checkbox"].#{$prefix}-checkbox ~ .#{$prefix}-checkbox-toggle {
    width: 1rem;
    height: 1rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: $chk-border solid $color__gray-70;
    border-radius: $chk-border-radius;
    cursor: pointer;
}

input[type="checkbox"].#{$prefix}-checkbox:hover ~ .#{$prefix}-checkbox-toggle {
    border-color: $color__gray-90;
}

input[type="checkbox"].#{$prefix}-checkbox:focus ~ .#{$prefix}-checkbox-toggle {
    border-color: $color__gray-90;
    box-shadow: 0 0 0 2px rgba(75, 75, 75, 0.25);
}

input[type="checkbox"].#{$prefix}-checkbox:checked ~ .#{$prefix}-checkbox-toggle {
    border-color: $color__success;
    background: $color__success url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
    background-size: 75%;
}

//  SUBMIT


//  LEGEND

@mixin legend-reset {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
}


//  TEXTAREA

@mixin textarea-reset {
    appearance: none;
}