// -------------------------------
// --- HELPERS
// -------------------------------

.#{$prefix}-text-align {
	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
    }
}

.#{$prefix}-font-weight {
	&--normal {
		font-weight: 400;
	}

	&--bold {
		font-weight: 700;
	}
}

//  HELPER COLOR

.#{$prefix}-brand--primary {
    color: $color__brand--primary;
}

.#{$prefix}-brand--secondary {
    color: $color__brand--secondary;
}

.#{$prefix}-brand--3 {
    color: $color__brand--3;
}

.#{$prefix}-brand--4 {
    color: $color__brand--4;
}

.#{$prefix}-brand--5 {
    color: $color__brand--5;
}

.#{$prefix}-color--info {
	color: $color__info;
}

.#{$prefix}-color--success {
	color: $color__success;
}

.#{$prefix}-color--warning {
	color: $color__warning;
}

.#{$prefix}-color--danger {
	color: $color__danger;
}

.#{$prefix}-color--gray-3 {
	color: $color__gray-30;
}

.#{$prefix}-color--gray-4 {
	color: $color__gray-40;
}

//  HELPER BACKGROUND

.#{$prefix}-bg-brand--primary {
    background-color: $color__brand--primary !important;
}

.#{$prefix}-bg-brand--secondary {
    background-color: $color__brand--secondary !important;
}

.#{$prefix}-bg-brand--3 {
    background-color: $color__brand--3 !important;
}

.#{$prefix}-bg-brand--4 {
    background-color: $color__brand--4 !important;
}

.#{$prefix}-bg-brand--5 {
    background-color: $color__brand--5 !important;
}

.#{$prefix}-bg-color--info {
	background-color: $color__info !important;
}

.#{$prefix}-bg-color--success {
	background-color: $color__success !important;
}

.#{$prefix}-bg-color--warning {
	background-color: $color__warning !important;
}

.#{$prefix}-bg-color--danger {
	background-color: $color__danger !important;
}

.#{$prefix}-bg-color--gray-3 {
	background-color: $color__gray-30 !important;
}

.#{$prefix}-bg-color--gray-4 {
	background-color: $color__gray-40 !important;
}