// -------------------------------
// --- MIXINS
// -------------------------------

//  BUTTONS

@mixin button-reset {
    display: inline-block;
    margin: $null;
    border: $btn-border solid transparent;
    border-radius: $null;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
}

@mixin button-bg($bg) {
    background: $bg;

    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }

    &:active {
        background: darken($bg, 25%);
    }
}

@mixin button-bg-hollow($bg) {
    background: rgba($bg, 0);
    color: $bg;

    &:hover {
        color: lighten($bg, 100%);
        background: darken($bg, 0%);
        transition: all 0.3s ease;
    }

    &:active {
        color: lighten($bg, 100%);
        background: darken($bg, 25%);
    }
}

@mixin button-bg-ghost($bg) {
    color: $bg;

    &::after {
        background: $bg;
    }
    
    &:hover {
        background: rgba($bg, 0);
    }
}

//  CARDS

@mixin border-radius($br) {
    border-radius: $br;
}

//  HELPERS

@mixin center-auto {
    margin: {
        left:auto;
        right: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    display: $display;
    position: $pos;
    content: $content;
}

@mixin font-sans-serif($size: false, $color: false, $weight: false, $line-height: false) {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    @if $size {font-size: $size;}
    @if $color {color: $color;}
    @if $weight {font-weight: $weight;}
    @if $line-height {line-height: $line-height;}
}

@mixin text-truncate($max-width) {
    max-width: $max-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin hidden {
	display: none;
	visibility: hidden;
}

@mixin placeholder {
    ::placeholder {@content;}
    ::-webkit-input-placeholder {@content;}
    ::-moz-placeholder {@content;}
    :-ms-input-placeholder {@content;}
}

@mixin flex-custom($direction: false, $align: false, $justify: false, $wrap: false) {
    display: flex;
    @if $direction {flex-direction: $direction;}
    @if $align {align-items: $align;}
    @if $justify {justify-content: $justify;}
    @if $wrap {flex-wrap: $wrap;}  
}