// -------------------------------
// --- SPACING
// -------------------------------

// All measures will be intended in rems instead of pixels

// $space-values: (0, .125, .25, .5, .75, 1, 1.5, 2, 2.5, 3);
$space-values: (
  "0": "0",
  "1": "0.125",
  "2": "0.25",
  "3": "0.5",
  "4": "0.75",
  "5": "1",
  "6": "1.5",
  "7": "2",
  "8": "2.5",
  "9": "3",
);

$sides: (
  "": "all",
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left",
);

@each $space-key, $space-value in $space-values {
  @each $side-key, $side-value in $sides {
    $property: if($side-key == '', '', -#{$side-value});

    .#{$prefix}-m#{$side-key}-#{$space-key} {
      margin#{$property}: #{$space-value}rem;
    }

    .#{$prefix}-p#{$side-key}-#{$space-key} {
      padding#{$property}: #{$space-value}rem;
    }
  }
};