// -------------------------------
// --- TABLE
// -------------------------------

.#{$prefix}-table {

    &__container {
        width: 100%;
        min-height: 100%;
        color: $color__black--safe;
        background: $color__white;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem 1.5rem;
    }

    &--responsive {
        overflow-x: auto;
    }
}

table.#{$prefix}-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    display: table;
    margin: 0;
    padding: .5rem 1rem;
    box-sizing: border-box;

    & > thead {
        text-align: left;
    }

    & thead tr th {
        padding: .5rem 0;
    }
    & > tbody > tr {

        & > td {
            padding: .75rem .25rem;
        }
    }

    &__buttons {
        thead tr th:last-child {
            text-align: end;
        }
        
        tbody tr td:last-child {
            text-align: end;
        }

        tbody tr td button {
            margin-right: .5rem;
        }
    }
}

table.#{$prefix}-table--b-bottom {

    & > thead {
        border-bottom: 2px solid $color__gray-20;
    }

    & > thead > tr {
        border-bottom: 1px solid $color__gray-20;
    }

    & > tbody > tr {
        border-bottom: 1px solid $color__gray-20;
    }
}

table.#{$prefix}-table--stripes {

    & > tbody > tr:nth-of-type(odd) {
        background: $color__gray-10;
    }
}

table.#{$prefix}-table-hover {
    & > tbody > tr:hover {
        color: $color__black;
        background: $color__gray-20;
    }
}