// -------------------------------
// --- VARIABLES
// -------------------------------

// -------------------------------
//  BRAND PREFIXER

$prefix: aq !default;

//  GLOBAL

$null: 0;

// -------------------------------
//  FONT

$font-primary: sans-serif;
$font-secondary: sans-serif;

$base-font-size: 1rem;  // browser default usually = 16px
$base-font-weight: 400;
$line-height: 1.5;

$font-color--primary: $color__black--safe;

//  BUTTONS

$btn-border: 1px;
$btn-border-radius: 4px;
$btn-padding-x: 1rem;
$btn-padding-y: .5rem;
$btn-padding-sm-x: .5rem;
$btn-padding-sm-y: .25rem;
$btn-padding-lg-x: 1.5rem;
$btn-padding-lg-y: .75rem;

$btn-font-weight: 400;

//  CARDS

$card-border-width: 1px;
$card-border-color: transparent;
$card-border-radius: 4px;

//  ACCORDIONS

$accordion-border-width: 1px;
$accordion-border-color: $color__gray-30;
$accordion-border-radius: 4px;
//  FORMS

$inp-border: $btn-border;
$inp-border-radius: $btn-border-radius;
$inp-padding-x: $btn-padding-x;
$inp-padding-y: $btn-padding-y;


$chk-border: 2px;
$chk-border-radius: 50%;