// -------------------------------
// --- VARIABLES
// -------------------------------

// -------------------------------
// BRAND PREFIXER

$prefix: aq !default;

// -------------------------------
// FONT

$font-primary: sans-serif;
$font-secondary: sans-serif;

$base-font-size: 16px;  // browser default

$line-height: 1.5;

$font-color--primary: $color__black--safe;